html, body, .sky {
    width: 100%;
    height: 100%;
  }
  .sky {
    position: relative;
    z-index: -1;
  }
  .sky-level {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .sky-level:nth-child(1) {
    padding-top: 16.6666666667vh;
    height: 16.6666666667vh;
    color: #f9329d;
    background: currentColor;
    z-index: 5;
  }
  .sky-level:nth-child(2) {
    padding-top: 33.3333333333vh;
    height: 33.3333333333vh;
    color: #fe5eb4;
    background: currentColor;
    z-index: 4;
  }
  .sky-level:nth-child(3) {
    padding-top: 50vh;
    height: 50vh;
    color: #fe6fbb;
    background: currentColor;
    z-index: 3;
  }
  .sky-level:nth-child(4) {
    padding-top: 66.6666666667vh;
    height: 66.6666666667vh;
    color: #fe70ee;
    background: currentColor;
    z-index: 2;
  }
  .sky-level:nth-child(5) {
    padding-top: 83.3333333333vh;
    height: 83.3333333333vh;
    color: #e270fe;
    background: currentColor;
    z-index: 1;
  }
  .sky-level:nth-child(6) {
    padding-top: 100vh;
    height: 100vh;
    color: #ba70fe;
    background: currentColor;
    z-index: 0;
  }
  .sky-level div {
    float: left;
    height: 4px;
    background: currentColor;
  }
  .sky-level:nth-child(1) div:nth-child(1) {
    width: 14%;
    margin-left: 3%;
  }
  .sky-level:nth-child(1) div:nth-child(2) {
    width: 18%;
    margin-left: 9%;
  }
  .sky-level:nth-child(1) div:nth-child(3) {
    width: 6%;
    margin-left: 24%;
  }
  .sky-level:nth-child(1) div:nth-child(4) {
    width: 7%;
    margin-left: 1%;
  }
  .sky-level:nth-child(1) div:nth-child(5) {
    width: 9%;
    margin-left: 12%;
  }
  .sky-level:nth-child(1) div:nth-child(6) {
    width: 26%;
    margin-left: 16%;
  }
  .sky-level:nth-child(1) div:nth-child(7) {
    width: 13%;
    margin-left: 18%;
  }
  .sky-level:nth-child(1) div:nth-child(8) {
    width: 21%;
    margin-left: 22%;
  }
  .sky-level:nth-child(1) div:nth-child(9) {
    width: 11%;
    margin-left: 3%;
  }
  .sky-level:nth-child(1) div:nth-child(10) {
    width: 25%;
    margin-left: 12%;
  }
  .sky-level:nth-child(1) div:nth-child(11) {
    width: 30%;
    margin-left: 18%;
  }
  .sky-level:nth-child(1) div:nth-child(12) {
    width: 14%;
    margin-left: 1%;
  }
  .sky-level:nth-child(1) div:nth-child(13) {
    width: 6%;
    margin-left: 17%;
  }
  .sky-level:nth-child(1) div:nth-child(14) {
    width: 10%;
    margin-left: 2%;
  }
  .sky-level:nth-child(1) div:nth-child(15) {
    width: 17%;
    margin-left: 25%;
  }
  .sky-level:nth-child(1) div:nth-child(16) {
    width: 9%;
    margin-left: 22%;
  }
  .sky-level:nth-child(1) div:nth-child(17) {
    width: 17%;
    margin-left: 9%;
  }
  .sky-level:nth-child(1) div:nth-child(18) {
    width: 10%;
    margin-left: 21%;
  }
  .sky-level:nth-child(1) div:nth-child(19) {
    width: 10%;
    margin-left: 4%;
  }
  .sky-level:nth-child(1) div:nth-child(20) {
    width: 16%;
    margin-left: 7%;
  }
  .sky-level:nth-child(1) div:nth-child(21) {
    width: 6%;
    margin-left: 9%;
  }
  .sky-level:nth-child(1) div:nth-child(22) {
    width: 9%;
    margin-left: 13%;
  }
  .sky-level:nth-child(1) div:nth-child(23) {
    width: 12%;
    margin-left: 13%;
  }
  .sky-level:nth-child(1) div:nth-child(24) {
    width: 3%;
    margin-left: 23%;
  }
  .sky-level:nth-child(1) div:nth-child(25) {
    width: 8%;
    margin-left: 14%;
  }
  .sky-level:nth-child(1) div:nth-child(26) {
    width: 11%;
    margin-left: 17%;
  }
  .sky-level:nth-child(1) div:nth-child(27) {
    width: 7%;
    margin-left: 6%;
  }
  .sky-level:nth-child(1) div:nth-child(28) {
    width: 2%;
    margin-left: 18%;
  }
  .sky-level:nth-child(1) div:nth-child(29) {
    width: 9%;
    margin-left: 11%;
  }
  .sky-level:nth-child(1) div:nth-child(30) {
    width: 2%;
    margin-left: 25%;
  }
  .sky-level:nth-child(1) div:nth-child(31) {
    width: 10%;
    margin-left: 25%;
  }
  .sky-level:nth-child(1) div:nth-child(32) {
    width: 7%;
    margin-left: 19%;
  }
  .sky-level:nth-child(1) div:nth-child(33) {
    width: 7%;
    margin-left: 8%;
  }
  .sky-level:nth-child(1) div:nth-child(34) {
    width: 5%;
    margin-left: 15%;
  }
  .sky-level:nth-child(1) div:nth-child(35) {
    width: 6%;
    margin-left: 13%;
  }
  .sky-level:nth-child(1) div:nth-child(36) {
    width: 2%;
    margin-left: 8%;
  }
  .sky-level:nth-child(1) div:nth-child(37) {
    width: 2%;
    margin-left: 19%;
  }
  .sky-level:nth-child(1) div:nth-child(38) {
    width: 1%;
    margin-left: 25%;
  }
  .sky-level:nth-child(1) div:nth-child(39) {
    width: 2%;
    margin-left: 23%;
  }
  .sky-level:nth-child(1) div:nth-child(40) {
    width: 1%;
    margin-left: 13%;
  }
  .sky-level:nth-child(2) div:nth-child(1) {
    width: 11%;
    margin-left: 3%;
  }
  .sky-level:nth-child(2) div:nth-child(2) {
    width: 6%;
    margin-left: 22%;
  }
  .sky-level:nth-child(2) div:nth-child(3) {
    width: 4%;
    margin-left: 25%;
  }
  .sky-level:nth-child(2) div:nth-child(4) {
    width: 12%;
    margin-left: 4%;
  }
  .sky-level:nth-child(2) div:nth-child(5) {
    width: 36%;
    margin-left: 21%;
  }
  .sky-level:nth-child(2) div:nth-child(6) {
    width: 3%;
    margin-left: 15%;
  }
  .sky-level:nth-child(2) div:nth-child(7) {
    width: 11%;
    margin-left: 17%;
  }
  .sky-level:nth-child(2) div:nth-child(8) {
    width: 30%;
    margin-left: 9%;
  }
  .sky-level:nth-child(2) div:nth-child(9) {
    width: 11%;
    margin-left: 21%;
  }
  .sky-level:nth-child(2) div:nth-child(10) {
    width: 18%;
    margin-left: 11%;
  }
  .sky-level:nth-child(2) div:nth-child(11) {
    width: 17%;
    margin-left: 6%;
  }
  .sky-level:nth-child(2) div:nth-child(12) {
    width: 29%;
    margin-left: 12%;
  }
  .sky-level:nth-child(2) div:nth-child(13) {
    width: 15%;
    margin-left: 6%;
  }
  .sky-level:nth-child(2) div:nth-child(14) {
    width: 2%;
    margin-left: 20%;
  }
  .sky-level:nth-child(2) div:nth-child(15) {
    width: 4%;
    margin-left: 21%;
  }
  .sky-level:nth-child(2) div:nth-child(16) {
    width: 2%;
    margin-left: 25%;
  }
  .sky-level:nth-child(2) div:nth-child(17) {
    width: 16%;
    margin-left: 19%;
  }
  .sky-level:nth-child(2) div:nth-child(18) {
    width: 14%;
    margin-left: 5%;
  }
  .sky-level:nth-child(2) div:nth-child(19) {
    width: 6%;
    margin-left: 3%;
  }
  .sky-level:nth-child(2) div:nth-child(20) {
    width: 3%;
    margin-left: 9%;
  }
  .sky-level:nth-child(2) div:nth-child(21) {
    width: 4%;
    margin-left: 9%;
  }
  .sky-level:nth-child(2) div:nth-child(22) {
    width: 6%;
    margin-left: 9%;
  }
  .sky-level:nth-child(2) div:nth-child(23) {
    width: 3%;
    margin-left: 18%;
  }
  .sky-level:nth-child(2) div:nth-child(24) {
    width: 3%;
    margin-left: 4%;
  }
  .sky-level:nth-child(2) div:nth-child(25) {
    width: 11%;
    margin-left: 18%;
  }
  .sky-level:nth-child(2) div:nth-child(26) {
    width: 11%;
    margin-left: 17%;
  }
  .sky-level:nth-child(2) div:nth-child(27) {
    width: 5%;
    margin-left: 23%;
  }
  .sky-level:nth-child(2) div:nth-child(28) {
    width: 3%;
    margin-left: 5%;
  }
  .sky-level:nth-child(2) div:nth-child(29) {
    width: 8%;
    margin-left: 10%;
  }
  .sky-level:nth-child(2) div:nth-child(30) {
    width: 10%;
    margin-left: 18%;
  }
  .sky-level:nth-child(2) div:nth-child(31) {
    width: 5%;
    margin-left: 5%;
  }
  .sky-level:nth-child(2) div:nth-child(32) {
    width: 2%;
    margin-left: 10%;
  }
  .sky-level:nth-child(2) div:nth-child(33) {
    width: 1%;
    margin-left: 12%;
  }
  .sky-level:nth-child(2) div:nth-child(34) {
    width: 7%;
    margin-left: 1%;
  }
  .sky-level:nth-child(2) div:nth-child(35) {
    width: 6%;
    margin-left: 4%;
  }
  .sky-level:nth-child(2) div:nth-child(36) {
    width: 5%;
    margin-left: 20%;
  }
  .sky-level:nth-child(2) div:nth-child(37) {
    width: 4%;
    margin-left: 22%;
  }
  .sky-level:nth-child(2) div:nth-child(38) {
    width: 1%;
    margin-left: 16%;
  }
  .sky-level:nth-child(2) div:nth-child(39) {
    width: 1%;
    margin-left: 9%;
  }
  .sky-level:nth-child(2) div:nth-child(40) {
    width: 1%;
    margin-left: 11%;
  }
  .sky-level:nth-child(3) div:nth-child(1) {
    width: 40%;
    margin-left: 13%;
  }
  .sky-level:nth-child(3) div:nth-child(2) {
    width: 29%;
    margin-left: 16%;
  }
  .sky-level:nth-child(3) div:nth-child(3) {
    width: 17%;
    margin-left: 7%;
  }
  .sky-level:nth-child(3) div:nth-child(4) {
    width: 3%;
    margin-left: 6%;
  }
  .sky-level:nth-child(3) div:nth-child(5) {
    width: 15%;
    margin-left: 7%;
  }
  .sky-level:nth-child(3) div:nth-child(6) {
    width: 29%;
    margin-left: 12%;
  }
  .sky-level:nth-child(3) div:nth-child(7) {
    width: 8%;
    margin-left: 25%;
  }
  .sky-level:nth-child(3) div:nth-child(8) {
    width: 30%;
    margin-left: 12%;
  }
  .sky-level:nth-child(3) div:nth-child(9) {
    width: 12%;
    margin-left: 12%;
  }
  .sky-level:nth-child(3) div:nth-child(10) {
    width: 5%;
    margin-left: 17%;
  }
  .sky-level:nth-child(3) div:nth-child(11) {
    width: 5%;
    margin-left: 6%;
  }
  .sky-level:nth-child(3) div:nth-child(12) {
    width: 16%;
    margin-left: 22%;
  }
  .sky-level:nth-child(3) div:nth-child(13) {
    width: 28%;
    margin-left: 19%;
  }
  .sky-level:nth-child(3) div:nth-child(14) {
    width: 7%;
    margin-left: 12%;
  }
  .sky-level:nth-child(3) div:nth-child(15) {
    width: 2%;
    margin-left: 17%;
  }
  .sky-level:nth-child(3) div:nth-child(16) {
    width: 17%;
    margin-left: 15%;
  }
  .sky-level:nth-child(3) div:nth-child(17) {
    width: 23%;
    margin-left: 4%;
  }
  .sky-level:nth-child(3) div:nth-child(18) {
    width: 7%;
    margin-left: 18%;
  }
  .sky-level:nth-child(3) div:nth-child(19) {
    width: 22%;
    margin-left: 3%;
  }
  .sky-level:nth-child(3) div:nth-child(20) {
    width: 13%;
    margin-left: 11%;
  }
  .sky-level:nth-child(3) div:nth-child(21) {
    width: 11%;
    margin-left: 5%;
  }
  .sky-level:nth-child(3) div:nth-child(22) {
    width: 11%;
    margin-left: 18%;
  }
  .sky-level:nth-child(3) div:nth-child(23) {
    width: 12%;
    margin-left: 11%;
  }
  .sky-level:nth-child(3) div:nth-child(24) {
    width: 2%;
    margin-left: 20%;
  }
  .sky-level:nth-child(3) div:nth-child(25) {
    width: 15%;
    margin-left: 24%;
  }
  .sky-level:nth-child(3) div:nth-child(26) {
    width: 6%;
    margin-left: 2%;
  }
  .sky-level:nth-child(3) div:nth-child(27) {
    width: 7%;
    margin-left: 6%;
  }
  .sky-level:nth-child(3) div:nth-child(28) {
    width: 7%;
    margin-left: 21%;
  }
  .sky-level:nth-child(3) div:nth-child(29) {
    width: 3%;
    margin-left: 25%;
  }
  .sky-level:nth-child(3) div:nth-child(30) {
    width: 8%;
    margin-left: 14%;
  }
  .sky-level:nth-child(3) div:nth-child(31) {
    width: 2%;
    margin-left: 22%;
  }
  .sky-level:nth-child(3) div:nth-child(32) {
    width: 8%;
    margin-left: 16%;
  }
  .sky-level:nth-child(3) div:nth-child(33) {
    width: 1%;
    margin-left: 22%;
  }
  .sky-level:nth-child(3) div:nth-child(34) {
    width: 6%;
    margin-left: 13%;
  }
  .sky-level:nth-child(3) div:nth-child(35) {
    width: 3%;
    margin-left: 8%;
  }
  .sky-level:nth-child(3) div:nth-child(36) {
    width: 1%;
    margin-left: 14%;
  }
  .sky-level:nth-child(3) div:nth-child(37) {
    width: 1%;
    margin-left: 4%;
  }
  .sky-level:nth-child(3) div:nth-child(38) {
    width: 1%;
    margin-left: 25%;
  }
  .sky-level:nth-child(3) div:nth-child(39) {
    width: 1%;
    margin-left: 15%;
  }
  .sky-level:nth-child(3) div:nth-child(40) {
    width: 1%;
    margin-left: 16%;
  }
  .sky-level:nth-child(4) div:nth-child(1) {
    width: 25%;
    margin-left: 17%;
  }
  .sky-level:nth-child(4) div:nth-child(2) {
    width: 29%;
    margin-left: 1%;
  }
  .sky-level:nth-child(4) div:nth-child(3) {
    width: 26%;
    margin-left: 12%;
  }
  .sky-level:nth-child(4) div:nth-child(4) {
    width: 16%;
    margin-left: 3%;
  }
  .sky-level:nth-child(4) div:nth-child(5) {
    width: 12%;
    margin-left: 13%;
  }
  .sky-level:nth-child(4) div:nth-child(6) {
    width: 30%;
    margin-left: 7%;
  }
  .sky-level:nth-child(4) div:nth-child(7) {
    width: 5%;
    margin-left: 12%;
  }
  .sky-level:nth-child(4) div:nth-child(8) {
    width: 14%;
    margin-left: 8%;
  }
  .sky-level:nth-child(4) div:nth-child(9) {
    width: 1%;
    margin-left: 25%;
  }
  .sky-level:nth-child(4) div:nth-child(10) {
    width: 8%;
    margin-left: 19%;
  }
  .sky-level:nth-child(4) div:nth-child(11) {
    width: 19%;
    margin-left: 6%;
  }
  .sky-level:nth-child(4) div:nth-child(12) {
    width: 15%;
    margin-left: 17%;
  }
  .sky-level:nth-child(4) div:nth-child(13) {
    width: 8%;
    margin-left: 20%;
  }
  .sky-level:nth-child(4) div:nth-child(14) {
    width: 17%;
    margin-left: 15%;
  }
  .sky-level:nth-child(4) div:nth-child(15) {
    width: 14%;
    margin-left: 1%;
  }
  .sky-level:nth-child(4) div:nth-child(16) {
    width: 15%;
    margin-left: 9%;
  }
  .sky-level:nth-child(4) div:nth-child(17) {
    width: 9%;
    margin-left: 23%;
  }
  .sky-level:nth-child(4) div:nth-child(18) {
    width: 8%;
    margin-left: 7%;
  }
  .sky-level:nth-child(4) div:nth-child(19) {
    width: 7%;
    margin-left: 14%;
  }
  .sky-level:nth-child(4) div:nth-child(20) {
    width: 6%;
    margin-left: 8%;
  }
  .sky-level:nth-child(4) div:nth-child(21) {
    width: 7%;
    margin-left: 2%;
  }
  .sky-level:nth-child(4) div:nth-child(22) {
    width: 6%;
    margin-left: 9%;
  }
  .sky-level:nth-child(4) div:nth-child(23) {
    width: 16%;
    margin-left: 12%;
  }
  .sky-level:nth-child(4) div:nth-child(24) {
    width: 6%;
    margin-left: 22%;
  }
  .sky-level:nth-child(4) div:nth-child(25) {
    width: 14%;
    margin-left: 15%;
  }
  .sky-level:nth-child(4) div:nth-child(26) {
    width: 1%;
    margin-left: 4%;
  }
  .sky-level:nth-child(4) div:nth-child(27) {
    width: 2%;
    margin-left: 21%;
  }
  .sky-level:nth-child(4) div:nth-child(28) {
    width: 8%;
    margin-left: 24%;
  }
  .sky-level:nth-child(4) div:nth-child(29) {
    width: 8%;
    margin-left: 7%;
  }
  .sky-level:nth-child(4) div:nth-child(30) {
    width: 6%;
    margin-left: 16%;
  }
  .sky-level:nth-child(4) div:nth-child(31) {
    width: 4%;
    margin-left: 14%;
  }
  .sky-level:nth-child(4) div:nth-child(32) {
    width: 9%;
    margin-left: 23%;
  }
  .sky-level:nth-child(4) div:nth-child(33) {
    width: 4%;
    margin-left: 14%;
  }
  .sky-level:nth-child(4) div:nth-child(34) {
    width: 2%;
    margin-left: 7%;
  }
  .sky-level:nth-child(4) div:nth-child(35) {
    width: 2%;
    margin-left: 16%;
  }
  .sky-level:nth-child(4) div:nth-child(36) {
    width: 5%;
    margin-left: 9%;
  }
  .sky-level:nth-child(4) div:nth-child(37) {
    width: 4%;
    margin-left: 9%;
  }
  .sky-level:nth-child(4) div:nth-child(38) {
    width: 3%;
    margin-left: 5%;
  }
  .sky-level:nth-child(4) div:nth-child(39) {
    width: 2%;
    margin-left: 10%;
  }
  .sky-level:nth-child(4) div:nth-child(40) {
    width: 1%;
    margin-left: 5%;
  }
  .sky-level:nth-child(5) div:nth-child(1) {
    width: 20%;
    margin-left: 10%;
  }
  .sky-level:nth-child(5) div:nth-child(2) {
    width: 2%;
    margin-left: 8%;
  }
  .sky-level:nth-child(5) div:nth-child(3) {
    width: 22%;
    margin-left: 2%;
  }
  .sky-level:nth-child(5) div:nth-child(4) {
    width: 27%;
    margin-left: 18%;
  }
  .sky-level:nth-child(5) div:nth-child(5) {
    width: 16%;
    margin-left: 23%;
  }
  .sky-level:nth-child(5) div:nth-child(6) {
    width: 12%;
    margin-left: 8%;
  }
  .sky-level:nth-child(5) div:nth-child(7) {
    width: 32%;
    margin-left: 6%;
  }
  .sky-level:nth-child(5) div:nth-child(8) {
    width: 21%;
    margin-left: 3%;
  }
  .sky-level:nth-child(5) div:nth-child(9) {
    width: 31%;
    margin-left: 18%;
  }
  .sky-level:nth-child(5) div:nth-child(10) {
    width: 16%;
    margin-left: 19%;
  }
  .sky-level:nth-child(5) div:nth-child(11) {
    width: 28%;
    margin-left: 14%;
  }
  .sky-level:nth-child(5) div:nth-child(12) {
    width: 18%;
    margin-left: 9%;
  }
  .sky-level:nth-child(5) div:nth-child(13) {
    width: 12%;
    margin-left: 6%;
  }
  .sky-level:nth-child(5) div:nth-child(14) {
    width: 26%;
    margin-left: 10%;
  }
  .sky-level:nth-child(5) div:nth-child(15) {
    width: 6%;
    margin-left: 12%;
  }
  .sky-level:nth-child(5) div:nth-child(16) {
    width: 13%;
    margin-left: 20%;
  }
  .sky-level:nth-child(5) div:nth-child(17) {
    width: 8%;
    margin-left: 13%;
  }
  .sky-level:nth-child(5) div:nth-child(18) {
    width: 21%;
    margin-left: 12%;
  }
  .sky-level:nth-child(5) div:nth-child(19) {
    width: 16%;
    margin-left: 14%;
  }
  .sky-level:nth-child(5) div:nth-child(20) {
    width: 12%;
    margin-left: 25%;
  }
  .sky-level:nth-child(5) div:nth-child(21) {
    width: 16%;
    margin-left: 17%;
  }
  .sky-level:nth-child(5) div:nth-child(22) {
    width: 15%;
    margin-left: 21%;
  }
  .sky-level:nth-child(5) div:nth-child(23) {
    width: 2%;
    margin-left: 2%;
  }
  .sky-level:nth-child(5) div:nth-child(24) {
    width: 5%;
    margin-left: 18%;
  }
  .sky-level:nth-child(5) div:nth-child(25) {
    width: 1%;
    margin-left: 14%;
  }
  .sky-level:nth-child(5) div:nth-child(26) {
    width: 11%;
    margin-left: 24%;
  }
  .sky-level:nth-child(5) div:nth-child(27) {
    width: 5%;
    margin-left: 23%;
  }
  .sky-level:nth-child(5) div:nth-child(28) {
    width: 8%;
    margin-left: 11%;
  }
  .sky-level:nth-child(5) div:nth-child(29) {
    width: 1%;
    margin-left: 8%;
  }
  .sky-level:nth-child(5) div:nth-child(30) {
    width: 11%;
    margin-left: 20%;
  }
  .sky-level:nth-child(5) div:nth-child(31) {
    width: 1%;
    margin-left: 10%;
  }
  .sky-level:nth-child(5) div:nth-child(32) {
    width: 7%;
    margin-left: 17%;
  }
  .sky-level:nth-child(5) div:nth-child(33) {
    width: 4%;
    margin-left: 11%;
  }
  .sky-level:nth-child(5) div:nth-child(34) {
    width: 7%;
    margin-left: 10%;
  }
  .sky-level:nth-child(5) div:nth-child(35) {
    width: 3%;
    margin-left: 1%;
  }
  .sky-level:nth-child(5) div:nth-child(36) {
    width: 2%;
    margin-left: 17%;
  }
  .sky-level:nth-child(5) div:nth-child(37) {
    width: 2%;
    margin-left: 4%;
  }
  .sky-level:nth-child(5) div:nth-child(38) {
    width: 2%;
    margin-left: 24%;
  }
  .sky-level:nth-child(5) div:nth-child(39) {
    width: 1%;
    margin-left: 1%;
  }
  .sky-level:nth-child(5) div:nth-child(40) {
    width: 1%;
    margin-left: 3%;
  }
  .sky-level:nth-child(6) div:nth-child(1) {
    width: 23%;
    margin-left: 18%;
  }
  .sky-level:nth-child(6) div:nth-child(2) {
    width: 15%;
    margin-left: 5%;
  }
  .sky-level:nth-child(6) div:nth-child(3) {
    width: 9%;
    margin-left: 22%;
  }
  .sky-level:nth-child(6) div:nth-child(4) {
    width: 26%;
    margin-left: 2%;
  }
  .sky-level:nth-child(6) div:nth-child(5) {
    width: 10%;
    margin-left: 18%;
  }
  .sky-level:nth-child(6) div:nth-child(6) {
    width: 29%;
    margin-left: 6%;
  }
  .sky-level:nth-child(6) div:nth-child(7) {
    width: 20%;
    margin-left: 19%;
  }
  .sky-level:nth-child(6) div:nth-child(8) {
    width: 16%;
    margin-left: 9%;
  }
  .sky-level:nth-child(6) div:nth-child(9) {
    width: 31%;
    margin-left: 25%;
  }
  .sky-level:nth-child(6) div:nth-child(10) {
    width: 1%;
    margin-left: 2%;
  }
  .sky-level:nth-child(6) div:nth-child(11) {
    width: 23%;
    margin-left: 21%;
  }
  .sky-level:nth-child(6) div:nth-child(12) {
    width: 5%;
    margin-left: 2%;
  }
  .sky-level:nth-child(6) div:nth-child(13) {
    width: 9%;
    margin-left: 16%;
  }
  .sky-level:nth-child(6) div:nth-child(14) {
    width: 11%;
    margin-left: 5%;
  }
  .sky-level:nth-child(6) div:nth-child(15) {
    width: 6%;
    margin-left: 7%;
  }
  .sky-level:nth-child(6) div:nth-child(16) {
    width: 18%;
    margin-left: 4%;
  }
  .sky-level:nth-child(6) div:nth-child(17) {
    width: 19%;
    margin-left: 21%;
  }
  .sky-level:nth-child(6) div:nth-child(18) {
    width: 17%;
    margin-left: 18%;
  }
  .sky-level:nth-child(6) div:nth-child(19) {
    width: 16%;
    margin-left: 9%;
  }
  .sky-level:nth-child(6) div:nth-child(20) {
    width: 11%;
    margin-left: 1%;
  }
  .sky-level:nth-child(6) div:nth-child(21) {
    width: 1%;
    margin-left: 10%;
  }
  .sky-level:nth-child(6) div:nth-child(22) {
    width: 4%;
    margin-left: 14%;
  }
  .sky-level:nth-child(6) div:nth-child(23) {
    width: 16%;
    margin-left: 14%;
  }
  .sky-level:nth-child(6) div:nth-child(24) {
    width: 15%;
    margin-left: 22%;
  }
  .sky-level:nth-child(6) div:nth-child(25) {
    width: 12%;
    margin-left: 20%;
  }
  .sky-level:nth-child(6) div:nth-child(26) {
    width: 5%;
    margin-left: 14%;
  }
  .sky-level:nth-child(6) div:nth-child(27) {
    width: 6%;
    margin-left: 23%;
  }
  .sky-level:nth-child(6) div:nth-child(28) {
    width: 12%;
    margin-left: 10%;
  }
  .sky-level:nth-child(6) div:nth-child(29) {
    width: 2%;
    margin-left: 14%;
  }
  .sky-level:nth-child(6) div:nth-child(30) {
    width: 11%;
    margin-left: 3%;
  }
  .sky-level:nth-child(6) div:nth-child(31) {
    width: 1%;
    margin-left: 24%;
  }
  .sky-level:nth-child(6) div:nth-child(32) {
    width: 7%;
    margin-left: 7%;
  }
  .sky-level:nth-child(6) div:nth-child(33) {
    width: 3%;
    margin-left: 9%;
  }
  .sky-level:nth-child(6) div:nth-child(34) {
    width: 4%;
    margin-left: 24%;
  }
  .sky-level:nth-child(6) div:nth-child(35) {
    width: 4%;
    margin-left: 18%;
  }
  .sky-level:nth-child(6) div:nth-child(36) {
    width: 4%;
    margin-left: 3%;
  }
  .sky-level:nth-child(6) div:nth-child(37) {
    width: 1%;
    margin-left: 13%;
  }
  .sky-level:nth-child(6) div:nth-child(38) {
    width: 2%;
    margin-left: 23%;
  }
  .sky-level:nth-child(6) div:nth-child(39) {
    width: 1%;
    margin-left: 12%;
  }
  .sky-level:nth-child(6) div:nth-child(40) {
    width: 1%;
    margin-left: 19%;
  }
  .sky-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
  }
  .sky-stars .dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fec8c9;
  }
  .sky-stars .dot:nth-child(1) {
    top: 51%;
    left: 52%;
  }
  .sky-stars .dot:nth-child(2) {
    top: 38%;
    left: 77%;
  }
  .sky-stars .dot:nth-child(3) {
    top: 1%;
    left: 14%;
  }
  .sky-stars .dot:nth-child(4) {
    top: 56%;
    left: 75%;
  }
  .sky-stars .dot:nth-child(5) {
    top: 43%;
    left: 87%;
  }
  .sky-stars .dot:nth-child(6) {
    top: 17%;
    left: 3%;
  }
  .sky-stars .dot:nth-child(7) {
    top: 45%;
    left: 70%;
  }
  .sky-stars .dot:nth-child(8) {
    top: 36%;
    left: 24%;
  }
  .sky-stars .dot:nth-child(9) {
    top: 57%;
    left: 85%;
  }
  .sky-stars .dot:nth-child(10) {
    top: 83%;
    left: 36%;
  }
  .sky-stars .dot:nth-child(11) {
    top: 80%;
    left: 96%;
  }
  .sky-stars .dot:nth-child(12) {
    top: 52%;
    left: 68%;
  }
  .sky-stars .dot--blinking {
    animation: blink 0.25s linear infinite;
  }
  .sky-stars .star {
    position: absolute;
    color: #fec8c9;
    animation: scale 0.5s linear infinite;
  }
  .sky-stars .star--sm {
    width: 28px;
    height: 28px;
  }
  .sky-stars .star--sm:nth-child(13) {
    top: 42%;
    left: 65%;
  }
  .sky-stars .star--sm:nth-child(14) {
    top: 29%;
    left: 19%;
  }
  .sky-stars .star--sm:nth-child(15) {
    top: 70%;
    left: 13%;
  }
  .sky-stars .star--lg {
    width: 48px;
    height: 48px;
  }
  .sky-stars .star--lg:nth-child(16) {
    top: 43%;
    left: 25%;
  }
  .sky-stars .star--lg:nth-child(17) {
    top: 39%;
    left: 74%;
  }
  .sky-stars .star::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: currentColor;
    animation: grow 0.5s linear infinite;
  }
  .sky-stars .star__part {
    position: absolute;
    background: currentColor;
  }
  .sky-stars .star__part:nth-child(1) {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 20%;
  }
  .sky-stars .star__part:nth-child(2) {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 20%;
    height: 100%;
  }
  @keyframes blink {
    0%, 32%, 67% {
      opacity: 1;
   }
    33%, 66% {
      opacity: 0;
   }
  }
  @keyframes scale {
    0%, 16.4%, 83.6%, 100% {
      transform: scale(0.75, 0.75);
   }
    16.5%, 33%, 66.6%, 83.5% {
      transform: scale(1, 1);
   }
  }
  @keyframes grow {
    0%, 16.4%, 83.6%, 100% {
      width: 20%;
      height: 20%;
   }
    16.5%, 33%, 66.6%, 83.5% {
      width: 50%;
      height: 50%;
   }
    33.1%, 50%, 66.5% {
      width: 100%;
      height: 100%;
   }
  }  